#legado-bloco-2009{background:red;font-size:14px;font-family:Arial,sans-serif;border-right:1px solid #9cc;}#legado-bloco-2009 .interna{padding:20px;text-align:center;}#legado-bloco-2009 .wrapper-a{float:left;margin-right:5px;border-right:1px dotted #ccc;}

/*
     FILE ARCHIVED ON 18:06:14 Feb 08, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:52:20 Dec 12, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 217.775 (5)
  LoadShardBlock: 140.953 (3)
  exclusion.robots.policy: 0.121
  esindex: 0.013
  CDXLines.iter: 14.749 (3)
  RedisCDXSource: 200.085
  captures_list: 358.809
  exclusion.robots: 0.131
  load_resource: 1004.545
  PetaboxLoader3.resolve: 911.978 (3)
*/