#legado-bloco-2009{background:red;font-size:14px;font-family:Arial,sans-serif;border-right:1px solid #9cc;}#legado-bloco-2009 .interna{padding:20px;text-align:center;}#legado-bloco-2009 .wrapper-a{float:left;margin-right:5px;border-right:1px dotted #ccc;}

/*
     FILE ARCHIVED ON 13:13:27 Jun 02, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:52:14 Dec 12, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 211.026
  PetaboxLoader3.datanode: 825.914 (5)
  CDXLines.iter: 15.435 (3)
  RedisCDXSource: 4.029
  exclusion.robots: 0.124
  exclusion.robots.policy: 0.115
  LoadShardBlock: 188.999 (3)
  load_resource: 1523.067
  PetaboxLoader3.resolve: 846.271 (3)
  esindex: 0.009
*/